# Core Streamlit and web framework
streamlit
requests

# Data manipulation and numerical computing
numpy
pandas

# Machine Learning and Model Handling
scikit-learn
tensorflow
keras
joblib
